<% include nav.ejs %>
<main>
    <div class="container">
<div class="row">
<% data.forEach(function(data){ %>
<div class="col s12 m4 l3">
    <div class="card">
        <div class="card-content center-align">
            <h6><%= data.location %></h6>
            <img src="<%= data.image %>">
            <p><%= data.body %></p>
            <p class="green-text"><%= data.price %></p>
             <br>
                <div class="chip">
                <img src="<%= data.image %>">
                <%= data.user.username %>
            </div>
        </div>
        <div class="card-action center-align">
            <div class="btn red darken-2"><a href="/landlord/show/<%= data._id %>">Book now</a></div>
        </div>
    </div>
</div>
    <% }); %>
</div>
</div>

</main>
<% include footer.ejs %>